{% extends "::base.html.twig" %}
{% from 'RootyTorrentBundle:Torrent:show.html.twig' import torrent__description__row as user__description__row %}

{% block content %}
<div class="block">
    <div class="block__head">
        Профиль
    </div>

    <div class="block__content">
        <h3>Личные данные</h3>
        <p><a href="{{ path('profile_edit') }}">Редактировать личные данные</a></p>
        <hr>
        
        <h3>Пасскей</h3>
        <p>
            Ваш пасскей: {{ user.passkey }}
        </p>
        <p>
            <a class="btn btn-warning">Сменить пасскей</a>
            Внимание! После смены пасскея вам придётся скачать все раздачи заново.
        </p>
        <hr>
        
        <h3>Смена пароля</h3>
        <p><a href="#">Сменить пароль</a></p>
        
    </div>
</div>
{% endblock %}