{% extends '::base.html.twig' %}

{% form_theme form 'RootyUserBundle:Form:fields.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        Добавление раздачи
    </div>

    <div class="block__content">
        <form action="{{ path('torrent_new') }}" {{ form_enctype(form) }} method="POST" class="torrent_new">
            <table class="form_holder">
                {{ form_row(form.type, { 'label': 'Тип:' }) }}
            </table>

            {{ form_widget(form._token) }}

            <div>
                <input type="submit" value="Продолжить" />
            </div>
        </form>
    </div>
</div>
{% endblock %}