{% extends '::base.html.twig' %}

{% form_theme form 'RootyDefaultBundle:Form:fields_bootstrap.html.twig' %}

{% block content %}
<div class="block">
    <div class="block__head">
        Добавление раздачи
    </div>

    <div class="block__content">
        <form action="{{ path('torrent_new') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal torrent_new">
            {{ form_row(form.type, { 'label': 'Тип:' }) }}
            {{ form_widget(form._token) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Продолжить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}