<div class="block block_type_resetting">
    <div class="block__head">
        Восстановление пароля
    </div>

    <div class="block__content">
        {% if invalid_username is defined %}
        <div class="block__content__errors">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form_row">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" />
            </div>

            <div>
                <input type="submit" value="Восстановить" />
            </div>
        </form>
    </div>
</div>