<div class="block">
    <div class="block__head">
        Восстановление пароля
    </div>

    <div class="block__content">
        {% if invalid_username is defined %}
        <div class="block__content__errors">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <table class="form_holder">
                <tr>
                    <td><label for="username">Логин:</label></td>
                    <td><input type="text" id="username" name="username" /></td>
            </table>

            <div>
                <input type="submit" value="Восстановить" />
            </div>
        </form>
    </div>
</div>