.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
}

#header-wrap {
    width: 100%;
    background: black;
}

#header, #content, #footer {
    margin: 0 auto;
    width: 960px;
}

#header {
    margin-bottom: 18px;
    width: auto;
}

.navbar {
    margin-bottom: 0;
}

.flash-notice {
    width: 100%;
    background: #D2FFAE;
    border: #589306;
}

    .flash-notice .container {
        padding: 5px 20px;
        width: 920px;
        text-align: center;
    }

#content {
    padding: 0 20px 30px 20px;
    width: 920px;
    background: white;
    color: #1d1d1d;
}

#footer {
    height: 100px;
    background: black;
}

h3 {
    margin-bottom: 10px;
}

form.message-new textarea {
    width: 500px;
    min-height: 200px;
}

form.torrent_new input[type="text"] {
    width: 500px;
}

form.torrent_new textarea {
    width: 500px;
    min-height: 200px;
}

form.torrent_new .control-group > label {
    width: 150px;
}

form.torrent_new .controls {
    margin-left: 170px;
}

form.torrent_new .form-actions {
    padding-left: 170px;
}

.file_input {
    display: none;
}

.file_update {
    margin-top: 4px;
    height: 20px;
}

#rooty_torrentbundle_typeformtype_torrent_screenshots {
    margin-top: 4px;
}

#rooty_torrentbundle_typeformtype_torrent_screenshots > div { /* One screenshot entity */
    margin-bottom: 20px;
    padding: 20px 30px;
    width: 450px;
    background: #EEEEEE;
/*    border-bottom: 1px dashed #AAAAAA;*/
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: right;
}

#rooty_torrentbundle_typeformtype_torrent_screenshots > div > div { /* Screenshot entity field*/
    margin-bottom: 10px;
}

#rooty_torrentbundle_typeformtype_torrent_screenshots label {
    display: inline;
    margin-right: 15px;
}

#rooty_torrentbundle_typeformtype_torrent_screenshots .screenshot_file {
    display: none;
}

#rooty_torrentbundle_typeformtype_torrent_screenshots input[type="text"] {
    width: 350px;
}

a.add_screenshot {
    color: #0000EE;
    border-bottom: 1px dotted;
    text-decoration: none;
    text-transform: lowercase;
}

a.remove_screenshot {
    color: #0000EE;
    border-bottom: 1px dotted;
    text-decoration: none;
    text-transform: lowercase;
}

a.ajaxLink {
    border-bottom: 1px dotted;
    text-decoration: none;
    text-transform: lowercase;
}

.torrent__check_status {
    margin-bottom: 20px;
    padding: 10px 5px;
}

.torrent__check_status.unchecked {
    background: #FFE3AE;
    border: 1px solid #FF9338;
}

.torrent__check_status.rejected {
    background: #FFC0AE;
    border: 1px solid #FE7952;
}

.torrent__description__row {
    margin-bottom: 10px;
}

    .torrent__description__row__key {
        font-weight: bold;
    }

.torrent__poster {
    float: right;
    margin: 0 0 5px 20px;
}

.torrent__rating {
    float: right;
    margin: 0 0 20px 20px;
    padding: 10px 20px;
    background: #EEEEEE;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 11px;
    clear: both;
}

.torrent__rating__bar {
    margin: 0 auto 5px auto;
    width: 270px;
    background: #ED0C0C;
}

.torrent__rating__bar .like {
    display: block;
    height: 5px;
    background: #6ACD42;
}

.torrent__rating__like_count img, .torrent__rating__dislike_count img {
   vertical-align: middle;
   margin-right: 5px;
}

.torrent__rating__like_count {
    display: inline;
    float: left;
}

.torrent__rating__dislike_count {
    display: inline;
    float: right;
}

.torrent__extra {
    margin: 25px 0;
    padding: 10px 30px 30px 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #EEEEEE;
}

.torrent__tech_info {
    
}

    .torrent__tech_info__row {
        margin-left: 78px;
    }

        .torrent__tech_info__row__key {
            font-weight: bold;
        }

.torrent__download {
    margin: 0 auto 30px auto;
    padding: 10px 20px;
    width: 200px;
    background: #EEEEEE;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: center;
}

    .torrent__download__button {
        font-size: 16px;
    }

.torrent__comments__list {
    margin-bottom: 20px;
}
    
.torrent__comments__list__comment {
    position: relative;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #EEEEEE;
}
    
    .torrent__comments__list__comment__user {
        float: left;
        padding: 10px;
        width: 110px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-left-radius: 10px;
    }
    
    .torrent__comments__list__comment__text {
        float: right;
        padding: 10px 10px 30px 10px;
        width: 750px;
        min-height: 100px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        border-top-right-radius: 10px;
        background: #FAFAFA;
    }
    
    .torrent__comments__list__comment__text__date-added {
        position: absolute;
        bottom: 0;
        margin: 0 -10px;
        padding: 2px 10px;
        width: 750px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        border-bottom-right-radius: 10px;
        background: #EEEEEE;
    }
    
    .torrent__comments__list__comment__text__date-added .actions {
        margin-left: 10px;
    }
    
    .torrent__comments__list__comment__text__date-added .actions img {
        vertical-align: middle;
    }
.torrent_admin {
    margin: 0 !important;
}

.torrent_admin .block__content {    
    padding-bottom: 0 !important;
}

.torrent_admin_form .control-group {
    margin-bottom: 10px;
}

.block {
    margin: 0 auto;
    margin-bottom: 20px;
}

.block__head {
    padding: 5px;
    background: #FAFAFA;
    font-family: "Georgia", serif;
    font-size: 20px;
}

.block__content {
    padding: 20px 10px 20px 10px;
}

.block__content__errors {
    margin-bottom: 20px;
    padding: 5px;
    background: #FFA1A1;
    border: solid 1px #FF5757;
}

.search_result th {
    white-space: nowrap;
}

.torrents__list__torrent > div {
    float: left;
}

.torrents__list__torrent__type {
    width: 32px;
}

.torrents__list__torrent__title {
    width: 300px;
}

.torrents__list__torrent__download {
    width: 64px;
}

.torrents__list__torrent__size {
    width: 64px;
}

.torrents__list__torrent__times_completed {
    width: 32px;
}

.torrents__list__torrent__added_by {
    width: 64px;
}

.search {
    margin-bottom: 15px;
}

.ui-slider.input-xlarge {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    width: 262px;
}

select.input-xlarge {
    width: 280px;
}

.advanced_search .control-group {
    float: left;
    height: 20px;
}

/*input[type="text"], input[type="password"] {
    padding: 2px 5px;
    height: 20px;
    width: 200px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
}

input[type="text"]:hover, input[type="password"]:hover {
    border: 1px solid #AAAAAA;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #FFAB57;
    background: white;
}*/

input[type="file"] {
    width: auto;
    height: 24px;
}

/*textarea {
    padding: 5px 5px;
    width: 200px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
}*/

/*input[type="button"], input[type="submit"] {
    padding: 3px 10px;
    min-height: 30px;
    background: black;
    border: 1px solid #FAFAFA;
    color: white;
    font-size: 14px;
    cursor: pointer;
}*/

/*input[type="button"]:hover, input[type="submit"]:hover {
    background: #009DFF;
    color: white;
}*/

.header__user_panel__register {
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.header__user_panel__register::before {
	background-color:#072239;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:4px;
	left:-2px;
	top:5px;
	z-index:-1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 0px #fff;
	-moz-box-shadow: 0px 1px 0px #fff;
	-o-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
}

.header__user_panel__register:active {
	color:#156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background:rgb(44,160,202);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	top:7px;
}

.header__user_panel__register:active::before {
	top:-2px;
}

/* User role colors */
.user {
    color: black;
}

    .user:hover {
        color: #555555;
    }

.super_user {
    color: #F1506C;
}

    .super_user:hover {
        color: #F6889B;
    }

.uploader {
    color: #F19950;
}

    .uploader:hover {
        color: #F5BA89;
    }

.super_uploader {
    color: #804C00;
}

    .super_uploader:hover {
        color: #D37F03;
    }

.gold {
    color:#FFD700;
}

    .gold:hover {
        color:#FFE557;
    }
    
.moderator {
    color: #F15550;
}

    .moderator:hover {
        color: #F47F7B;
    }

.super_moderator {
    color: #C350F1;
}

    .super_moderator:hover {
        color: #DB98F5;
    }

.administrator {
    color: #5076F1;
}

    .administrator:hover {
        color: #8AA3F4;
    }

/* User profile */

.user__sidebar {
    float: right;
    text-align: center;
}

.user__sidebar__avatar {
    margin-bottom: 5px;
}


/* Post style */
.post {
    position: relative;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #EEEEEE;
}

.post__user {
    float: left;
    padding: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.post__text {
    float: right;
    padding: 10px 10px 30px 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    background: #FAFAFA;
}

.post__text__date-added {
    position: absolute;
    bottom: 0;
    margin: 0 -10px;
    padding: 2px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    background: #EEEEEE;
}

/* Instant Messaging */
/* Message list */
.post.message.list .post__user {
        width: 55px;
}

.post.message.list .post__text {
        width: 805px;
        min-height: 50px;
}

    .post.message.list .post__text__date-added {
            width: 805px;
    }

/* Message Show */
.post.message.show .post__user {
        width: 105px;
}

.post.message.show .post__text {
        width: 755px;
        min-height: 100px;
}

    .post.message.show .post__text__date-added {
            width: 755px;
    }
